<%- include('header') %>

<form class="anime_form" action="/movie" method="POST">
  <input type="text" id="anime_search" name="search" placeholder=
  <%= language === 'russian' ? `Кино` : `Movie` %>
  >
  <button type="submit">
    <%= language === 'russian' ? 'Поиск' : 'Search' %>
    </button>
</form>

<div class="anime-cards">
  <% if (movieData) { %>
    <% movieData.forEach(anime => { %>
      <div class="card">
        <img src="https://image.tmdb.org/t/p/original/<%= anime.poster_path %>" alt="<%= anime.title %>">
        <div class="card-body">
          <h5 class="card-title">
          <%= anime.title ? anime.title : (language === 'russian' ? 'Н/Д' : 'N/A') %>  </h5>
          <p class="card-text">
            <%= language === 'russian' ? 'Среднее количество голосов: ' : 'Vote average: ' %><%= anime.vote_average ? anime.vote_average : (language === 'russian' ? 'Н/Д' : 'N/A') %>
          </p>
          <p class="card-text">
            <%= language === 'russian' ? 'Популярность: ' : 'Popularity: ' %><%= anime.popularity ? anime.popularity : (language === 'russian' ? 'Н/Д' : 'N/A') %>
            </p>
          <p class="card-text">
            <%= language === 'russian' ? 'Дата выпуска: ' : 'Release date: ' %><%= anime.release_date ? anime.release_date : (language === 'russian' ? 'Н/Д' : 'N/A') %>
          </p>
        </div>
      </div>
    <% }) %>
  <% } %>
</div>


<%- include('footer') %>
